transition()
	-webkit-transition: arguments
	-moz-transition: arguments
	-o-transition: arguments
	transition: arguments

transform()
	-webkit-transform: arguments
	-moz-transform: arguments
	-o-transform: arguments
	transform: arguments

gblur()
	-webkit-filter: blur(arguments)
	-moz-filter: blur(arguments)
	-o-filter: blur(arguments)
	filter: blur(arguments)

bgColor = #556270

@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,400italic|Alike+Angular")

html, body
	height: 100%
	width: 100%
body
	padding: 0
	margin: 0
	font: 14px 'Alike Angular', Helvetica, Arial, serif
	background: url(../images/background.png) center center no-repeat
	background-attachment: fixed
	background-size: cover
a
	color: #FFF
	font-weight: bold
	text-shadow: 0 0 10px rgba(0,0,0,0.5)

*
	-webkit-font-smoothing: antialiased
	
header
	font-size: 3em
	padding: 50px 0 10px
	position: relative
	overflow: hidden

	.me
		width: 100px
		height: 100px
		border-radius: 50px
		overflow: hidden
		margin: 0 auto
		box-shadow: 0 0 10px rgba(0,0,0,0.2)
		background: rgba(255,255,255,0.3)
		
		.photo
			background: url(../images/me.png) center 20% no-repeat
			background-size: 100% auto
			width: 84px
			height: 84px
			margin: 8px 0 0 8px
			border-radius: 50px
			overflow: hidden

	h1
		font-family: 'Alegreya Sans SC', sans-serif
		font-size: 1em
		color: rgba(255, 255, 255, 0.8)
		text-shadow: 0 0 3px rgba(0,0,0,0.2)
		text-align: center
		display: block
		position: relative
		z-index: 2

.contentWrapper
	position: relative

	main
		width: 600px
		margin: 0 auto

		.content
			font-size: 1em
			border-radius: 0 0 2px 2px
			padding: 15px
			box-sizing: border-box

		.post
			max-height: 0
			opacity: 0
			display: block
			text-decoration: none
			position: relative
			-webkit-perspective: 500px
			perspective: 500px

			&:hover .postTitle
				transition(0.3s all ease-out)
				color: rgba(255, 255, 255, 0.6)
				transform(translate3d(0, 0, -10px))

			.clock
				width: 20px
				height: 20px
				position: absolute
				right: 0
				top: 50%
				margin-top: -10px
			
			&.new
				overflow: hidden
				transition(0.6s all ease-out)
				opacity: 1
				max-height: 200px
			&.old
				max-height: 9999px
				opacity: 1
			.postTitle
				padding-right: 180px
				box-sizing: border-box
			.postTitle, .postDate
				display: inline-block
			.postDate
				font-size: 0.8em
				color: #BBB
				padding-left: 5px
				position: absolute
				height: 16px
				right: 30px
				top: 50%
				margin-top: -6px
			.blurb
				color: #333


@media screen and (max-width: 960px)
	.contentWrapper
		main
			left: 50px
			right: 50px
	header
		padding: 100px 0 10px
@media screen and (max-width: 580px)
	.contentWrapper
		main
			left: 0
			right: 0

			.content
				border-radius: 0
	header
		padding: 80px 0 5px

		h1
			font-size: 0.8em
@media screen and (max-width: 319px)
	.contentWrapper
		main
			.post
				.postDate
					display: none